<div class="background">
    <label for="title">
        Input book title:
        <input id="title" type="text" placeholder="Input book title...">
    </label>
    <label for="author">
        Input book author:
        <input id="author" type="text" placeholder="Input book author...">
    </label>
    <label for="isbn">
        Input book isbn:
        <input id="isbn" type="text" placeholder="Input book isbn...">
    </label>
    <button id="add-new-book" type="button">Add book</button>
</div>
